@import "../../sass/variables.scss";
.labor-cost-sec {
  .title-filter-row,
  .analysis-filter-wrapper {
    align-items: center;
  }
  .analysis-filter-wrapper {
    justify-content: flex-end;
  }

  .labor-cost-wage-card {
    .chart-wrapper {
      height: 590px;
      .apexcharts-datalabels {
        text {
          fill: $ESRPBlue;
          font-family: "Montserrat" !important;
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .apexcharts-tooltip-title {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $xl) {
}

#{$dark-theme} {
}
