.header {
  padding: 10px 0;
  background-color: $White;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  .row {
    .header-clm {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.header-logo-wrapper {
  max-width: 340px;
  width: 100%;
  padding: 0;

  a {
    width: 100%;
    height: auto;
    max-width: 140px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 32px;
      object-fit: contain;
    }
  }
}
.header-search-wrapper {
  max-width: 540px;
  width: 100%;
  margin-right: 104px;
  .search-bar {
    position: relative;
    z-index: 9;
    input {
      background-color: $SeachbarBG;
      border: 0;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      width: 100%;
      padding: 8.5px 35px 8.5px 10px;
      caret-color: $ESRPBlue;
      color: $ESRPBlue;
    }
    .header-search-icon {
      position: absolute;
      top: 4px;
      right: 7px;
      z-index: 9;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
      }
    }
  }
}

.header-menu-wrapper {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      &:not(:first-child) {
        margin-left: 64px;
      }
      a {
        line-height: 24px;
        text-decoration: none;
        color: $HeaderMenuLink;
        padding: 0 10px;
        position: relative;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        display: block;
        line-height: 24px;

        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 3px;
          background-color: $ESRPBlue;
          bottom: -18px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }
      }
      &:hover,
      &.active {
        a {
          color: $Black;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.header-user-wrapper {
  margin-left: auto;
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:first-child) {
        margin-left: 26px;
      }
      a {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          path {
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
          }
        }
        &:hover {
          path {
            fill: $ESRPBlue;
          }
        }
      }
    }
  }
  .profile {
    a {
      display: block;
      height: 40px;
      width: 40px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        object-fit: cover;
      }
    }
  }
}

.header-profile-box {
  position: absolute;
  background-color: $White;
  z-index: 99;
  width: 290px;
  right: 30px;
  top: 103%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07),
    0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
    0 22.34px 17.87px rgba(92, 134, 193, 0.0417),
    0 12.52px 10.02px rgba(92, 134, 193, 0.035),
    0 6.5px 5.32px rgba(92, 134, 193, 0.0283),
    0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
  opacity: 0;
  visibility: hidden;
  &.open {
    animation-name: toggle;
    animation-duration: 0.5s;
    animation-direction: alternate;
    opacity: 1;
    visibility: visible;
  }

  .header-profile-inner {
    padding: 20px 30px;
    text-align: center;
  }
  .header-profile-item {
    &:not(:first-child) {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid $OffWhite;
    }
  }
  .details {
    .profile-img {
      width: 80px;
      height: 80px;
      margin: 0 auto 16px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title {
      margin: 0 0 2px;
      color: $BlueishBlack;
    }
    .caption {
      color: $BlueishBlack;
      opacity: 0.6;
      font-weight: 600;
      margin-bottom: 16px;
      display: block;
    }
    .btn {
      width: 100%;
      padding: 10px 10px;
      margin: 0;
    }
  }
  .profile-theme-toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .body-2 {
      color: $ESRPBlue;
    }
    .theme-toggle-switch {
      width: 80px;
      height: 36px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      position: relative;
      overflow: hidden;
      input {
        appearance: unset;
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin: 0;
        background-image: linear-gradient(180deg, #abfaff, #d5ffab);
        box-shadow: inset 0px 2px 9px #00000080;
        & ~ .dark {
          opacity: 0;
        }
        & ~ .light {
          opacity: 1;
        }
        &:checked {
          background-image: linear-gradient(180deg, #364bba, #a979d9);
          & ~ .light {
            opacity: 0;
          }
          & ~ .dark {
            opacity: 1;
          }
          & + label {
            transform: translateX(-44px);
            -webkit-transform: translateX(-44px);
            -moz-transform: translateX(-44px);
            -ms-transform: translateX(-44px);
            -o-transform: translateX(-44px);
          }
        }
      }
      img {
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
      }
      label {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 28px;
        height: 28px;
        background-color: $White;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        z-index: 9;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        user-select: none;
        pointer-events: none;
      }
    }
  }
  .profile-sign-out {
    .btn {
      margin: 0;
      width: 100%;
      padding: 10px 10px;
    }
  }
  .policy {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      .caption {
        color: $BlueishBlack;
        opacity: 0.6;
        text-decoration: none;
      }
      &:not(:first-child)::before {
        content: "•";
        color: $BlueishBlack;
        opacity: 0.6;
        margin: 0 8px;
      }
    }
  }
}

@keyframes toggle {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@media screen and (max-width: $xl) {
  .header {
    padding: 6px 0;
  }
  .header-logo-wrapper {
    max-width: 250px;
  }
  .header-search-wrapper {
    max-width: 450px;
  }
  .header-menu-wrapper {
    ul {
      li {
        &:not(:first-child) {
          margin-left: 44px;
        }
        a {
          &::before {
            bottom: -14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $xl) {
  .header {
    padding: 6px 0;
  }
  .header-logo-wrapper {
    max-width: 250px;
  }
  .header-search-wrapper {
    max-width: 450px;
  }
  .header-menu-wrapper {
    ul {
      li {
        &:not(:first-child) {
          margin-left: 44px;
        }
        a {
          &::before {
            bottom: -14px;
          }
        }
      }
    }
  }
}

// DARK THEME ------------------------------------

#{$dark-theme} {
  .header {
    background-color: $NewDarkprimary;
  }
  .header-menu-wrapper {
    ul {
      li {
        &:hover,
        &.active {
          a {
            color: $White;
            &::before {
              background-color: $ESRPBlue;
            }
          }
        }
        a {
          color: $ESRPBlue;
        }
      }
    }
  }

  .header-user-wrapper {
    ul {
      li {
        a {
          &:hover svg {
            path {
              fill: $ESRPBlue;
            }
          }
        }
      }
    }
  }

  .header-search-wrapper {
    .search-bar {
      input {
        background-color: $Black;
        caret-color: $ESRPBlue;
        color: $White;
      }
      .header-search-icon {
        path {
          fill: $PurpleBlue;
        }
      }
    }
  }

  .header-profile-box {
    background-color: $ESRPDarkBG;
    box-shadow: none;
    .header-profile-item {
      &:not(:first-child) {
        border-color: $Black;
      }
    }
    .details {
      .title {
        color: $White;
      }
      .caption {
        color: $White;
      }
    }
    .policy {
      li {
        .caption {
          color: $White;
        }
        &:not(:first-child)::before {
          color: $White;
        }
      }
    }
  }
}
