@import "./variables.scss";

#{$dark-theme} {
  background-color: $Black;

  *::-webkit-scrollbar {
    width: 3px;
  }
  *::-webkit-scrollbar-track {
    background: $NewESRPBlue;
  }
  *::-webkit-scrollbar-thumb {
    background: $ESRPBlue;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: $ESRPBlue;
  }

  .site-content {
    .site-inner-content {
      background-color: $BodyBgDark;
    }
  }

  .theme-change-wrapper {
    ul,
    .theme-click-icon {
      background-color: $DarkMapControlBg;
    }
    .theme-click-icon {
      path {
        fill: $White;
      }
    }
    ul {
      li {
        label {
          color: $White;
        }
      }
    }
  }

  .loading-sec {
    background-color: $DarkLoading;
  }
  .loading-content {
    .img {
      .dark {
        display: block;
      }
      .light {
        display: none;
      }
    }
    .progress-bar-wrapper {
      span {
        color: $White;
      }
    }
  }

  .map-control-wrapper {
    .map-control-item {
      background-color: $ESRPDarkBG;
      box-shadow: none;

      li {
        a {
          background-color: $NewDarkprimary;
          path {
            fill: $ESRPBlue;
          }
          &:hover {
            background-color: $ESRPBlue;
            path {
              fill: $ESRPDarkBG;
            }
          }
        }
      }
    }
  }

  .map-distance-wrapper {
    .label {
      color: $White;
    }
    ul {
      background-color: transparent;
    }
    li {
      a {
        color: $White;
      }
      &:hover,
      &.active {
        a {
          background-color: $ESRPBlue;
        }
      }
    }
  }

  .breadcrumbs {
    ul {
      a,
      li {
        color: $White;
      }
    }
  }

  .card {
    background-color: $ESRPDarkBG;
    box-shadow: none;

    .card-title {
      label {
        color: $White;
      }
      .big-text,
      .sub-text {
        color: $White;
      }
    }
  }

  .page-title,
  .page-title-sub {
    color: $BtnDisabled;
  }

  // MAPBOX LABELS
  .mapboxgl-map {
    .mapboxgl-popup-close-button {
      color: $White !important;
    }
    .mapboxgl-popup-content {
      .sub-title {
        div {
          label {
            color: $White;
          }
          h4 {
            color: $White;
          }
        }
      }
    }
  }

  .indicator-text {
    li {
      .name {
        color: $White;
      }
    }
  }

  svg {
    .apexcharts-yaxis,
    .apexcharts-xaxis {
      text {
        fill: $White;
        opacity: 0.6;
      }
    }
    .apexcharts-legend-series {
      .apexcharts-legend-text {
        color: $White !important;
      }
    }
  }
  .overlay {
    background-color: $Black;
    &.show {
      opacity: 0.45;
    }
  }

  // APEX CHART TOOLTIP
  .apexcharts-canvas {
    .apexcharts-tooltip {
      color: $White;
      background-color: $BlueishBlack;
    }
  }

  // CIRCLE CHART
  .circle-chart {
    .chart-data {
      .chart-data-title {
        label {
          color: $White;
        }
      }
      .chart-price {
        h6 {
          color: $White;
        }
      }
    }
    svg {
      .apexcharts-text.apexcharts-datalabel-value {
        fill: $White;
      }
    }
  }

  // MULTI CIRCLE MAPBOX
  .multi-circle-chart-map-wrap {
    .mapboxgl-marker {
      background-color: $ESRPGreen;
      border-color: $BlueishBlack;
    }

    // MAPBOX LABELS
    .mapboxgl-map {
        .mapboxgl-popup-content {
            background-color: $BlueishBlack;
            box-shadow: none;
            .title {
                background-color: $ESRPGreen;
            }
            .sub-title {
                div {
                    label {
                        color: $White;
                    }
                    h4 {
                        color: $White;
                    }
                }
            }
        }
        .mapboxgl-popup-anchor-bottom {
            .mapboxgl-popup-tip {
                border-top-color: $BlueishBlack;
            }
        }
        .mapboxgl-popup-close-button {
            color: $White !important;
        }
    }
}
}