@import "../sass/variables.scss";
@import "./button-style/button.style.scss";
@import "./sidebar-style/sidebar-style.scss";
@import "./input-style/input-style.scss";
@import "./header-style/header.style.scss";
@import "./footer-style/footer-style.scss";
// @import '../components/wageAnalysis/analysis-dashboard.style.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: $SeachbarBG;
}
*::-webkit-scrollbar-thumb {
  background: $ESRPBlue;
}
*::-webkit-scrollbar-thumb:hover {
  background: $ESRPBlue;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.44px;
  margin: 0;
  padding: 0;
  background-color: $OffWhite;
}
*:focus {
  outline: none;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.d-none {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: normal;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -1.75px;
  line-height: 118px;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 80px;
}
h3 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.75px;
  line-height: 56px;
}
h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.44px;
  line-height: 44px;
}
h5 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 36px;
}
h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
  line-height: 32px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.44px;
  line-height: 32px;
  display: block;
}
.body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.44px;
  line-height: 24px;
}
.caption {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 16px;
}
.overline {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 16px;
}

.container {
  max-width: 1870px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-md {
  padding-left: 60px;
  padding-right: 60px;
}

// .container-fluid {
//   max-width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
// }
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row > .col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
section {
  padding-top: 22px;
}

@media screen and (max-width: $xxl) {
  .container {
    // max-width: 100%;
  }
}

@media screen and (max-width: $xl) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: $lg) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: $md) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .container {
    max-width: 375px;
  }
}

// SITE CONTENT ***************
.site-content {
  .site-inner-content {
    background-color: $SeachbarBG;
    overflow: auto;
    height: calc(100vh - 38px);
    // height: 100%;
    padding-bottom: 38px;
    padding-top: 60px;
  }
}

.dashboard-map {
  height: calc(100vh - 88px);
  // height: 100vh;
}
// .mapboxgl-control-container {
//   display: none;
// }

// MAP CONTROLS  ***************

.map-control-wrapper {
  .map-control-item {
    background-color: $White;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    // box-shadow: 0 10px 80px #9072d569;
    box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07),
      0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
      0 22.34px 17.87px rgba(92, 134, 193, 0.0417),
      0 12.52px 10.02px rgba(92, 134, 193, 0.035),
      0 6.5px 5.32px rgba(92, 134, 193, 0.0283),
      0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
    width: 46px;

    &:not(:first-child) {
      margin-top: 14px;
    }

    li {
      a {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        path {
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
          fill: $NewESRPBlue;
        }

        &:hover {
          background-color: $NewESRPBlue;
          path {
            fill: $White;
          }
        }
      }
    }
  }
}

.more-btn {
  margin-left: auto;
  a {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// MAP DISTANCE ***************
.map-distance-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .label {
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-right: 30px;
    text-transform: uppercase;
  }
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    // box-shadow: 0 10px 80px #9072d569;
  }
  li {
    &:not(:first-child) {
      margin-left: 20px;
    }
    a {
      padding: 8px 8px;
      min-width: 53px;
      text-align: center;
      display: inline-block;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      font-size: 13px;
      letter-spacing: -0.2px;
      line-height: normal;
      cursor: pointer;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
    &:hover,
    &.active {
      a {
        background-color: $NewESRPBlue;
        color: $White;
      }
    }
  }
}

// APEX CHART TOOLTIP
.apexcharts-canvas {
  .apexcharts-tooltip {
    // opacity: 1 !important;
    padding: 6px 11px;
    border: 0 !important;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.44px;
    line-height: 16px;
    font-weight: 500;
    color: $Black;
    background-color: $White;
    &.apexcharts-theme-light {
      border: unset;
    }
  }
}

.apexcharts-pan-icon.apexcharts-selected svg,
.apexcharts-pan-icon:not(.apexcharts-selected) svg,
.apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
  stroke: transparent !important ;
}

.apexcharts-yaxis,
.apexcharts-xaxis {
  text {
    font-family: "Montserrat" !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.44px;
    opacity: 0.6;
    color: $ESRPBlue;
  }
}

// RIPPLE MAP CARD
.ripple-controls-map-card {
  height: calc(100% - 30px);
  .card-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ripple-map-distance {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .ripple-map-controls-wrapper {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;

    .ripple-map-controls {
      max-width: 45px;
    }
    label {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      font-size: 10px;
      line-height: 16px;
      color: $BlueishBlack-Dark;
      letter-spacing: 5.5px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .ripple-chart {
    margin-left: 65px;
    max-width: calc(100% - 110px);
    width: 100%;
    height: 450px;
    .map-container {
      height: 100%;
    }
  }
}

// CARD ***************
.card {
  background-color: $White;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07),
    0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
    0 22.34px 17.87px rgba(92, 134, 193, 0.0417),
    0 12.52px 10.02px rgba(92, 134, 193, 0.035),
    0 6.5px 5.32px rgba(92, 134, 193, 0.0283),
    0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .card-body {
    padding: 20px 30px;
  }
  .card-title {
    margin-bottom: 14px;
    position: relative;
    label {
      color: $BlueishBlack;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      line-height: 36px;
      display: block;
    }
    .big-text {
      font-size: 34px;
      line-height: 44px;
      letter-spacing: -1.44px;
      color: $BlueishBlack;
      display: block;
    }
    .sub-text {
      display: block;
      color: $BlueishBlack;
      font-size: 16px;
      line-height: 24px;
    }
    .icon {
      position: absolute;
      top: 6px;
      right: 0;
      cursor: pointer;
    }
  }
}

.overview-card {
  ul {
    margin-top: 15px;
  }
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .name {
      color: $BlueishBlack;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 24px;
      max-width: 70%;
      display: block;
    }
    .value {
      color: $BlueishBlack;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 32px;
      opacity: 0.6;
      max-width: 30%;
      display: block;
    }
    &:not(:first-child) {
      margin-top: 10px;
      padding-top: 14px;
      border-top: 1px solid $BtnDisabled;
    }
  }
}

// INDICATORS(LEGEND)
.indicator-text {
  li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    margin-right: 8px;
    .circle {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      margin-right: 8px;
      margin-top: 6px;
    }
    .name {
      color: $Black-Dark;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.44px;
      // max-width: calc(100% - 20px);
      display: block;
    }
  }
  &.version-i {
    li {
      background-color: transparent !important;
    }
  }
  &.version-ii {
    li {
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      padding: 2px 12px;
    }
    .circle {
      display: none;
    }
    .name {
      color: $White;
    }
  }
  &.version-iii {
    li {
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;

      padding: 8px 12px;
    }
    .circle {
      width: 12px;
      height: 12px;
      margin-top: 4px;
    }
  }
}

.page-title {
  color: $NewESRPBlue;
  margin: 0;
}
.page-title-sub {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.44px;
  color: $NewESRPBlue;
}

.has-sidebar {
  max-width: calc(100% - 100px);
  margin-left: auto;
}

.btn,
.btn-icon {
  margin-right: 10px;
}

// BREADCRUMBS
.breadcrumbs {
  ul {
    display: flex;
    flex-wrap: wrap;
    li,
    a {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.44px;
      color: #175086;
      font-weight: 500;
      a {
        text-decoration: none;
      }
      &:not(:last-child) {
        &::after {
          content: "/";
          margin: 0 5px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #175086;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  &.show {
    opacity: 0.16;
    visibility: visible;
  }
}

// CIRCLE CHART
.circle-chart {
  min-width: 230px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;

  .mixed-chart {
    max-width: 76px;
    width: 100%;
    & > div {
      height: 76px;
    }
  }
  .chart-data {
    width: 100%;
    max-width: calc(100% - 84px);
    margin-left: auto;

    .chart-data-title {
      label {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: $BlueishBlack;
      }
    }
    .chart-price {
      h6 {
        font-weight: 600;
        line-height: 32px;
        margin: 0;
        span {
          font-weight: 500;
          line-height: 20px;
          font-size: 14px;
          letter-spacing: 0.44px;
          display: inline-block;
          margin-left: 6px;
          font-family: "Montserrat", sans-serif;
        }
        .up {
          color: $Green;
        }
        .down {
          color: $Red;
        }
      }
    }
  }

  svg {
    height: 76px !important;
    .apexcharts-radialbar {
      transform: translateX(-7px) translateY(-7px) scale(2.3);
      -webkit-transform: translateX(-7px) translateY(-7px) scale(2.3);
      -moz-transform: translateX(-7px) translateY(-7px) scale(2.3);
      -ms-transform: translateX(-7px) translateY(-7px) scale(2.3);
      -o-transform: translateX(-7px) translateY(-7px) scale(2.3);
    }
    .apexcharts-graphical {
      transform: unset !important;
      -webkit-transform: unset !important;
      -moz-transform: unset !important;
      -ms-transform: unset !important;
      -o-transform: unset !important;
    }
    .apexcharts-radialbar-track {
      path {
        stroke-width: 1.5px;
        stroke: $Pewter;
      }
    }
    .apexcharts-radial-series {
      path {
        stroke: $MarlinOrange;
        stroke-linecap: round;
        stroke-width: 3px;
      }
    }
    .apexcharts-text.apexcharts-datalabel-value {
      font-weight: 800;
      color: $BlueishBlack;
      font-size: 19px;
      line-height: 29px;
      letter-spacing: 0.15px;
      //display: none;
      transform: translateY(2px) translateX(14px) scale(0.4);
      -webkit-transform: translateY(2px) translateX(14px) scale(0.4);
      -moz-transform: translateY(2px) translateX(14px) scale(0.4);
      -ms-transform: translateY(2px) translateX(14px) scale(0.4);
      -o-transform: translateY(2px) translateX(14px) scale(0.4);
    }
  }
}

// MULTI CIRCLE MAPBOX
.multi-circle-chart-map-wrap {
  .map-container {
    height: 100%;
    position: relative;
  }
  .mapboxgl-canvas-container {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  canvas {
    height: 100% !important;
  }
  .mapboxgl-marker {
    width: 24px;
    height: 24px;
    background-color: $ESRPBlue;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 4px solid $White;
  }
  .mapboxgl-popup-close-button {
    display: none;
  }
}

// MAP BOX LABELS
.mapboxgl-map {
  .mapboxgl-popup-content {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
      0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
      0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
    display: flex;
    align-items: center;
    .title {
      min-width: 40px;
      width: 100%;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $ESRPBlue;
      border-radius: 12px;
      color: $White;
    }
    .sub-title {
      &:empty {
        display: none;
      }
      margin-left: 12px;
      div {
        label {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.44px;
        }
        h4 {
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.15px;
        }
      }
    }

    .mapboxgl-popup-close-button {
      top: -10px;
      right: -10px;
      color: #fff;
      outline: none;
    }
  }
  .mapboxgl-popup-close-button {
    color: $Black !important;
  }
}

// $sm: 767px;
// $md: 991px;
// $lg: 1024px;
// $xl: 1440px;
// $xxl: 1920px;

@media screen and (max-width: $xxl) {
}

@media screen and (max-width: $xl) {
  h1 {
    font-size: 62px;
    line-height: normal;
  }
  h2 {
    font-size: 48px;
    line-height: normal;
  }
  h3 {
    font-size: 38px;
    line-height: normal;
  }
  h4 {
    font-size: 26px;
    line-height: normal;
  }
  h5 {
    font-size: 20px;
    line-height: normal;
  }
  h6 {
    font-size: 18px;
    line-height: normal;
  }
  .title {
    font-size: 18px;
  }
  .body-2 {
    font-size: 14px;
  }
  .caption {
    font-size: 12px;
  }
  .overline {
    font-size: 10px;
  }
  .circle-chart {
    svg {
      height: 56px !important;
      .apexcharts-radialbar {
        transform: translateX(-7px) translateY(-7px) scale(2.9);
        -webkit-transform: translateX(-7px) translateY(-7px) scale(2.9);
        -moz-transform: translateX(-7px) translateY(-7px) scale(2.9);
        -ms-transform: translateX(-7px) translateY(-7px) scale(2.9);
        -o-transform: translateX(-7px) translateY(-7px) scale(2.9);
      }
      .apexcharts-text {
        &.apexcharts-datalabel-value {
          font-size: 10px;
          transform: translateY(-4.8px) translateX(6.8px) scale(0.41);
          -webkit-transform: translateY(-4.8px) translateX(6.8px) scale(0.41);
          -moz-transform: translateY(-4.8px) translateX(6.8px) scale(0.41);
          -ms-transform: translateY(-4.8px) translateX(6.8px) scale(0.41);
          -o-transform: translateY(-4.8px) translateX(6.8px) scale(0.41);
        }
      }
      .apexcharts-radialbar-track {
        path {
          stroke-width: 1px;
        }
      }
      .apexcharts-radial-series {
        path {
          stroke-width: 2px;
        }
      }
    }
    .mixed-chart {
      max-width: 56px;
      > div {
        height: 56px;
      }
    }
    .chart-data {
      max-width: calc(100% - 64px);
    }
  }

  .card {
    .card-body {
      padding: 15px 15px 10px;
    }
    .card-title {
      label {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
}

@media screen and (max-width: $md) {
}

@media screen and (max-width: $sm) {
}

@media screen and (max-width: $xs) {
}
