// VARIABLES

$xs: 375px;
$sm: 767px;
$md: 991px;
$lg: 1024px;
$xl: 1440px;
$xxl: 1920px;

$transition: all 0.3s;

// ESRP THEME COLOR
$White: #ffffff;
$Black: #000;
$BlueishBlack: #111128;
$ESRPGreen: #81cab2;
$ESRPBlue: #5c86c1;
$Pewter: #f0f3ff;
$Orange: #fda747;
$NewESRPBlue: #175086;
$Blue: #3fb7f3;
$Purple: #5d6ebe;
$Red: #d9585f;
$Green: #31c192;
$MarlinOrange: #f5b954;

$ESRPLoading: #3a616f;
$DarkLoading: #27283a;

$Birches: #01f1e3;
$BlueishBlack-Dark: #14142b;
$PurpleBlue: #5a5a89;
$Black-Dark: #05050f;
$Yellow: #ffa63f;
$Purple-Dark: #991bfa;
$BodyBgDark: #00121e;

$ESRPDarkBG: #102c3a;
$ESRPDarkLightBg: #1d3845;
$NewDarkprimary: #04212f;

// OTHER COLORS

$DarkMapControlBg: #191932;
$SidebarActive: #9d1fb9;
$btnDarkDisable: #171717;
$BtnDisabled: #e6e8ed;
$BtnDisabledText: #a1a8c2;
$SeachbarBG: #eef0fa;
$HeaderMenuLink: #8484a0;
$OffWhite: #e5e5e5;
$NewLightprimaryOpacity: #e3eaf0;

$NewDarkprimaryOpacity: #193247;
$purpleLight: #f7f8fd;

$dark-theme: ".dark-theme";
$light-theme: ".esrp-theme";

@mixin PurpleBlueGradiant {
  background-image: linear-gradient(90deg, #5c86c1, #8b79d5);
}

@mixin BlueDarkGradiant {
  background-image: linear-gradient(90deg, #5c86c1, #3fb7f3);
}

@mixin BlueNeoGradiant {
  background-image: linear-gradient(90deg, #4da1ff, #4dffdf);
}

@mixin BlueNeoGradiantLight {
  background-image: linear-gradient(90deg, #5c86c1, #81cab2);
}
