@import "../../sass/variables.scss";

.dashboard-sec {
  position: relative;
  z-index: 9;
  height: 100%;
  .map-container {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -99;
  }
}

.dash-theme-change-wrapper {
  position: absolute;
  right: 100px;
  bottom: 25px;
  & > input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 100px;
    cursor: pointer;
    z-index: 9;
    &:checked + label {
      background-color: $NewDarkprimary;
      path {
        stroke: $ESRPBlue;
      }
      .dark {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
      }
      .light {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
      }
      &::before {
        background-color: $NewDarkprimaryOpacity;
        left: 8px;
        border-color: $ESRPBlue;
      }
    }
  }
  & > label {
    background-color: $White;
    display: flex;
    width: 80px;
    justify-content: space-between;
    padding: 6px 8px;
    height: 36px;
    border-radius: 100px;
    align-items: center;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &::before {
      position: absolute;
      width: 25px;
      height: 25px;

      background-color: $NewESRPBlue;
      content: "";
      border-radius: 100px;
      top: 51%;
      transform: translateY(-50%);
      left: 50px;
      border: 2px solid $NewESRPBlue;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }

    span {
      cursor: pointer;
      height: 24px;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
      &.dark {
        height: 20px;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
      }
      path {
        stroke: $NewESRPBlue;
      }
    }
  }
}

.dashboard-market-overview-clm {
  position: absolute;
  top: 40px;
  width: 320px;
  left: 60px;
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding-bottom: 0px;
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: 0px;
  }
}
.dash-map-distance {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}
.dash-map-controls {
  position: absolute;
  top: 60px;
  right: 100px;
}

.dashboard-map {
  .mapboxgl-popup-close-button {
    color: $Black !important;
  }
  .mapboxgl-popup-content {
    display: flex;
    align-items: center;
    .title {
      width: 40px;
      height: 40px;
    }
    .sub-title {
      &:empty {
        display: none;
      }
      margin-left: 12px;
      div {
        label {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.44px;
        }
        h4 {
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.15px;
        }
      }
    }
  }
}

.population-wrap {
  margin-bottom: 24px;
  .population-title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: $NewESRPBlue;
    margin: 0;
    a {
      display: inline-flex;
      align-items: center;
      margin-left: 16px;
      font-size: 10px;
      line-height: 16px;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: $Black;
      text-decoration: none;
      text-transform: uppercase;
      path {
        fill: $Black;
        margin-left: -5px;
        margin-top: -3px;
      }
    }
  }
  h1 {
    color: $NewESRPBlue;
    margin: 0;
    line-height: 74px;
  }
  h6 {
    color: $NewESRPBlue;
    margin: 0;
  }
  .population-color-stripe-bar {
    margin: 8px 0 0px;
    max-width: 270px;
    width: 100%;
    overflow: hidden;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    justify-content: space-between;
    li {
      height: 10px;
    }
  }
}
.population-card-info {
  max-width: 270px;
  margin-bottom: 20px;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 4.5px;
      padding-top: 4.5px;
      border-top: 1px solid $BtnDisabled;
    }
  }
  .name {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    padding: 2px 5px;
    max-width: 76px;
    min-width: 76px;
    margin-right: 8px;
    text-align: center;
    color: $White;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .percentage {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    display: inline-block;
    width: 42px;
    color: $NewESRPBlue;
  }
}

.population-card-attainment {
  max-width: 270px;

  .card-title {
    p {
      margin-top: 0;
      margin-bottom: 2px;
      color: $NewESRPBlue;
      font-weight: 400;
    }
  }

  .chart-market-value {
    h4 {
      margin: 0;
      font-weight: 500;
      line-height: 44px;
      color: $NewESRPBlue;
      span {
        font-weight: 500;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.44px;
        display: inline-block;
        margin-left: 6px;
        font-family: "Montserrat", sans-serif;
      }
      .up {
        color: $Green;
      }
      .down {
        color: $Red;
      }
    }
  }
  .chart-summary {
    margin-bottom: 30px;
    label {
      display: block;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.44px;
      color: $NewESRPBlue;
      opacity: 0.6;
      font-weight: 500;
    }
  }

  .attainment-chart-wrap {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .attainment-data-table {
    ul {
    }
    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > * {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.44px;
        font-weight: 500;
        color: $NewESRPBlue;
      }
      .name {
        width: 100px;
      }
      .value {
        width: 43px;
        opacity: 0.6;
      }
      .total {
        width: 43px;
      }
      .arrow {
        width: 15px;
      }
      &.up {
        .arrow {
          color: $Green;
        }
      }
      &.down {
        .arrow {
          color: $Red;
        }
      }
      &:not(:first-child) {
        margin-top: 14px;
      }
    }
  }
}

// DARK THEME -------------------------

.dark-theme {
  .population-card-info {
    & > * {
      color: $White;
    }
  }

  .population-wrap {
    .population-title,
    a {
      color: $White;
      path {
        fill: $White;
      }
    }
    h1,
    h6 {
      color: $White;
    }
  }
  .population-card-info {
    .percentage {
      color: $White;
    }
    .name {
      color: $Black;
    }
    li {
      &:not(:first-child) {
        border-color: $Black;
      }
    }
  }

  .population-card-attainment {
    .attainment-chart-wrap {
      img {
        filter: invert(1);
        -webkit-filter: invert(1);
      }
    }
    .card-title {
      p {
        color: $White;
      }
    }
    .chart-summary {
      label {
        color: $White;
      }
    }
    .attainment-data-table {
      li {
        & > * {
          color: $White;
        }
      }
    }
  }
  .population-card-attainment {
    .chart-market-value {
      h4 {
        color: $White;
      }
    }
  }

  .dashboard-map {
    .mapboxgl-popup-close-button {
      color: $White !important;
    }
    .mapboxgl-popup-content {
      .sub-title {
        div {
          label {
            color: $White;
          }
          h4 {
            color: $White;
          }
        }
      }
    }
  }
}
