@import "../../sass/variables.scss";

.analysis-dashboard-sec {
  padding-top: 22px;
  // height: 100%;

  .radialbars-chart {
    .apexcharts-legend {
      display: block;
      .apexcharts-legend-series {
        margin: 0 !important;
        line-height: 15.3px;
      }
      .apexcharts-legend-marker {
        width: 7.105691056910569px !important;
        height: 7.105691056910569px !important;
      }
    }
    .apexcharts-datalabels-group {
      text {
        &:last-child {
          display: none;
        }
        &:first-child {
          transform: translateY(52px);
          fill: #5a5a89 !important;
        }
      }
    }
  }
  .map-container {
    height: 100%;
    display: inline-block;
    width: 100%;
  }

  .map-card {
    .card-content {
      height: 455px;
    }
  }
  .living-wage-calc-row {
    margin-top: 30px;
  }
}
.ripple-chart,
.das-ripple-chart {
  .mapboxgl-marker {
    width: 100px;
    height: 100px;
    background-color: $ESRPBlue;
    opacity: 0.8;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    img {
      display: none;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $ESRPBlue;
      top: 0;
      left: 0;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      animation: ripple1 2s linear infinite;
      -webkit-animation: ripple1 2s linear infinite;
    }

    &::after {
      animation: ripple2 2s linear infinite;
      -webkit-animation: ripple2 2s linear infinite;
      animation-delay: 1.5s;
    }
  }
}

div.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07),
    0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
    0 22.34px 17.87px rgba(92, 134, 193, 0.0417),
    0 12.52px 10.02px rgba(92, 134, 193, 0.035),
    0 6.5px 5.32px rgba(92, 134, 193, 0.0283),
    0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
  .title {
    min-width: 40px;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ESRPBlue;
    border-radius: 12px;
    color: $White;
  }
  .mapboxgl-popup-close-button {
    top: -10px;
    right: -10px;
    color: #fff;
    outline: none;
  }
}

.analysis-column-card {
  .card-content {
    height: 430px;
  }
  .apexcharts-yaxis-annotations {
    line {
      stroke-width: 2;
    }
  }
  .apexcharts-tooltip {
    border: 0 !important;
    box-shadow: 0 2px 30px rgba(197, 197, 197, 0.7);
    & > * {
      &:first-child {
        display: none !important;
      }
    }
  }

  .apexcharts-series {
    path {
      clip-path: inset(0% 0% 0% 0% round 18px);
      &:hover {
        filter: unset;
        -webkit-filter: unset;
        opacity: 0.8;
      }
    }
  }

  .apexcharts-yaxis,
  .apexcharts-xaxis {
    text {
      font-family: "Montserrat" !important;
      letter-spacing: 0.44px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .apexcharts-xaxis {
    text {
      font-size: 14px;
    }
  }

  .apexcharts-inner {
    & > .apexcharts-xcrosshairs {
      stroke: #81cab2;
      stroke-width: 0.8px;
      width: 1px;
      border-left: 6px solid #81cab2;
      stroke-dasharray: 6;
      stroke-opacity: 1;
    }
  }
}

@keyframes ripple1 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple2 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    opacity: 0;
  }
}
.title-filter-row {
  margin-bottom: 40px;
  .col {
    z-index: 99 !important;
  }
}

.analysis-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .msa {
    width: 50%;
  }
  .household {
    width: 25%;
  }
  .wage {
    width: 25%;
  }
  .analysis-filter-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.overview-card,
.annual-income-card {
  height: 100%;
}

.annual-income-card {
  svg {
    .apexcharts-series {
      path {
        clip-path: inset(0% 0% 0% 0% round 18px);
        &:hover {
          opacity: 0.7;
          filter: unset !important;
          -webkit-filter: unset !important;
        }
      }
    }
    .apexcharts-datalabels {
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      .apexcharts-data-labels {
        text {
          filter: unset;
          -webkit-filter: unset;
          font-family: "Montserrat" !important;
          letter-spacing: 0.44px;
        }
      }
    }

    .apexcharts-inner {
      transform: unset;
      -webkit-transform: unset;
      -moz-transform: unset;
      -ms-transform: unset;
      -o-transform: unset;
    }
    .apexcharts-yaxis,
    .apexcharts-xaxis,
    .apexcharts-grid {
      opacity: 0;
    }
    .apexcharts-legend {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      flex-direction: column;
    }
    .apexcharts-legend-series {
      width: fit-content;
      position: relative;
      margin: 0 !important;
      padding: 2px 14px;
      border-radius: 100px;
      overflow: hidden;
      .apexcharts-legend-marker {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
      }
      .apexcharts-legend-text {
        color: $White !important;
      }
      &:not(:first-child) {
        margin-top: 10px !important;
      }
    }
  }
  .employee-salary {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    label {
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.15px;
      // font-weight: 600;
    }
    P {
      margin: 0;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }
  }
}

.annual-salary-progress {
  margin: 30px 0;

  li {
    display: block;
    &:not(:first-child) {
      margin-top: 8px;
    }
    span {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      padding: 9px 12px 9px 12px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      min-width: 149px;
    }
    small {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.15px;
      font-weight: 600;
      color: $White;
    }
    svg {
      width: 24px;
      height: 24px;
      // position: absolute;
      right: 20px;
      top: 14px;
    }
  }
}
.annual-salary-indicator {
  li {
    &:not(:first-child) {
      margin-top: 10px;
    }
    .circle {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      margin-right: 8px;
    }
    .label {
      color: $Black-Dark;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.44px;
    }
  }
}

@media screen and (max-width: $xl) {
  .analysis-filter-wrapper {
    .analysis-filter-item {
      &.msa,
      &.household {
        max-width: 310px;
        width: 100%;
      }
    }
  }

  .analysis-column-card {
    .apexcharts-xaxis text {
      font-size: 11px;
      font-weight: 600;
    }
  }
}

#{$dark-theme} {
  .overview-card {
    li {
      & > * {
        color: $White;
      }
      &:not(:first-child) {
        border-color: $BlueishBlack;
      }
    }
  }
  .employee-salary {
    label,
    p {
      color: $White;
    }
  }
  .annual-salary-indicator {
    li {
      .label {
        color: $White;
      }
    }
  }

  .annual-income-card {
    svg {
      .apexcharts-legend-series {
        .apexcharts-legend-text {
          color: $BlueishBlack !important;
        }
      }
      .apexcharts-datalabels {
        .apexcharts-data-labels {
          text {
            fill: $BlueishBlack;
          }
        }
      }
    }
  }

  .apexcharts-canvas {
    .apexcharts-tooltip {
      box-shadow: none;

      .apexcharts-tooltip-text-y-label,
      .apexcharts-tooltip-text-y-value {
        color: $White;
      }
    }
  }
}
