@import "../../sass/variables.scss";
.cowboys-sec {
    padding-top: 22px;
    .card {
        margin-bottom: 30px;
    }

    .cowboys-title-filter-row {
        align-items: center;
    }

    .cowboys-filter-btn-select {
        .inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            & > div {
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
            .custom-select {
                min-width: 270px;
            }
        }
    }

    .map-informer-row {
        margin-top: 40px;
    }
    .cowboys-informer-card {
        @include BlueNeoGradiantLight;
        color: $White;
        .title {
            margin-bottom: 2px;
            letter-spacing: 0.15px;
        }
        h3 {
            line-height: 60px;
            margin-bottom: 2px;
            font-weight: 500;
        }
        span {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
            text-transform: capitalize;
        }
    }

    .analysis-column-card {
        .card-content {
            height: 575px;
        }
    }

    .market-distribution-card {
        .card-content {
            height: 700px;
        }
        svg {
            .apexcharts-inner {
                transform: unset;
                -webkit-transform: unset;
                -moz-transform: unset;
                -ms-transform: unset;
                -o-transform: unset;
                .apexcharts-xaxis,
                .apexcharts-xaxis-tick {
                    display: none;
                }
                .apexcharts-yaxis {
                    text {
                        font-size: 16px;
                        fill: $BlueishBlack;
                        line-height: 16px;
                        opacity: 0.6;
                    }
                    & > line {
                        display: none;
                    }
                }
                .apexcharts-datalabels {
                    transform: translateX(-10px);
                    -webkit-transform: translateX(-10px);
                    -moz-transform: translateX(-10px);
                    -ms-transform: translateX(-10px);
                    -o-transform: translateX(-10px);
                    .apexcharts-data-labels {
                        text {
                            filter: unset;
                            -webkit-filter: unset;
                            font-family: "Montserrat" !important;
                            letter-spacing: 0.44px;
                        }
                    }
                }
            }
            .apexcharts-series {
                path {
                    clip-path: inset(0% 0% 0% 0% round 18px);
                    &:hover {
                        opacity: 0.7;
                        filter: unset !important;
                        -webkit-filter: unset !important;
                    }
                }
            }
        }
    }
}

.market-overview-card {
    ul {
        margin-top: 15px;
    }
    li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .name {
            color: #111128;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.44px;
            line-height: 20px;
            max-width: 70%;
            display: block;
        }
        .value {
            color: #111128;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.44px;
            line-height: 24px;
            opacity: 0.6;
            max-width: 30%;
            display: block;
        }
        &:not(:first-child) {
            margin-top: 10px;
            padding-top: 14px;
            border-top: 1px solid #e6e8ed;
        }
    }
}
.occupational-overview-card {
    .card-title {
        margin-bottom: 0;
        padding-right: 26px;
    }
    .chart-price {
        span {
            font-weight: 500;
            line-height: 20px;
            font-size: 14px;
            letter-spacing: 0.44px;
            display: inline-block;
            margin-left: 6px;
            font-family: "Montserrat", sans-serif;
            &.up {
                color: $Green;
            }
            &.down {
                color: $Red;
            }
        }
    }
    .summary {
        label {
            display: block;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.44px;
            color: $BlueishBlack;
            opacity: 0.6;
            font-weight: 600;
        }
    }
    .occupational-overview-progress {
        margin-top: 24px;
        background-color: $SeachbarBG;
        padding: 16px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        li {
            display: flex;
            flex-wrap: wrap;
            color: $BlueishBlack;
            font-weight: 600;
            align-items: center;
            justify-content: space-between;

            .name {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                max-width: 70%;
                display: block;
            }
            .value {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.4px;
                max-width: 30%;
                display: block;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        .progress-wrapper {
            margin-top: 10px;
        }
    }
}

.market-education-card {
    height: calc(100% - 30px);
    .card-content {
        margin-top: 30px;
    }
    svg {
        .apexcharts-inner {
            transform: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
        }
        height: 180px;
    }
    .apexcharts-datalabels-group {
        display: none;
    }
    .apexcharts-legend {
        min-width: 200px;

        padding: 0;
        .apexcharts-legend-series {
            margin: 0 !important;
            margin-bottom: 5px !important;
            padding-bottom: 5px;
            border-bottom: 1px solid $BtnDisabled;

            .apexcharts-legend-marker {
                display: none;
            }
            .apexcharts-legend-text {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .custom-legend {
                    padding: 2px 10px;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    color: $White;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.4px;
                }
                span:not(.custom-legend) {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.44px;
                    font-family: "Montserrat" !important;
                    font-weight: 600;
                }
            }
        }
    }
}

.market-race-distribution-card {
    height: calc(100% - 30px);
    .card-title {
        .sub-text {
            opacity: 0.6;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
        }
    }
    svg {
        .apexcharts-inner {
            transform: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
        }
    }
    .apexcharts-datalabels-group {
        display: none;
    }
    .apexcharts-legend {
        min-width: 200px;
        padding: 0;
        height: 130px;
        top: 7px !important;
        .apexcharts-legend-series {
            margin: 0 !important;
            margin-bottom: 5px !important;
            padding-bottom: 5px;
            border-bottom: 1px solid $BtnDisabled;

            .apexcharts-legend-marker {
                display: none;
            }
            .apexcharts-legend-text {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .custom-legend {
                    padding: 2px 10px;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    color: $White;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.4px;
                }
                span:not(.custom-legend) {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.44px;
                    font-family: "Montserrat" !important;
                    font-weight: 600;
                }
            }
        }
    }
}

.growth-lawyers-card {
    .card-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .map-control-wrapper {
            margin-left: auto;
            display: flex;
            .map-control-item {
                margin-top: 0;
                margin-left: 20px;
            }
        }
        .more-btn {
            // margin-left: 20px;
            margin-left: auto;
        }
    }
    .card-content {
        height: 435px;
    }
    svg {
        .apexcharts-marker {
            pointer-events: visible;
            stroke-width: 0px;
            // stroke: $ESRPBlue;
            r: 6;
        }
        .apexcharts-xcrosshairs,
        .apexcharts-ycrosshairs {
            stroke: $ESRPGreen;
            stroke-width: 3px;
            stroke-linecap: unset;
        }
        .apexcharts-xaxis {
            & > line {
                opacity: 0;
            }
        }
        .apexcharts-xaxis-tick {
            opacity: 0;
        }
    }
    .apexcharts-yaxis,
    .apexcharts-xaxis {
        text {
            font-family: "Montserrat" !important;
            letter-spacing: 0.44px;
            font-size: 13px;
            line-height: 24px;
        }
    }
    .apexcharts-xaxis {
        text {
            font-size: 14px;
        }
    }
    .apexcharts-datalabels {
        .apexcharts-data-labels {
            rect {
                opacity: 0;
            }
            text {
                fill: $ESRPBlue;
                font-weight: 800;
                transform: translate(0px, -20px);
            }
        }
    }
    .apexcharts-xaxistooltip {
        padding: 6px 10px;
        background-color: #fff;
        border: transparent;
        box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
            0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
            0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
        &::after,
        &::before {
            // box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
            //     0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
            //     0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
            border-bottom-color: #fff;
        }
        .apexcharts-xaxistooltip-text {
            line-height: normal;
            color: $ESRPBlue;
        }
    }
    .apexcharts-tooltip {
        // opacity: 1;
        border: 0 !important;
        padding: 6px 10px;
        box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
            0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
            0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        .apexcharts-tooltip-title,
        .apexcharts-tooltip-marker,
        .apexcharts-tooltip-text-y-label {
            display: none;
        }
        .apexcharts-tooltip-series-group {
            padding: 0;
            border: 0;
            box-shadow: none;
            line-height: normal;
        }
        .apexcharts-tooltip-text-y-value {
            margin: 0;
            line-height: normal;
            background-color: $ESRPGreen;
            padding: 2px 15px;
            border-radius: 100px;
            color: $White;
        }

        .apexcharts-tooltip-y-group {
            padding: 0;
        }
    }
    .apexcharts-toolbar {
        padding: 0;
        max-width: unset;
        top: -59px !important;
        right: 40px !important;
        & > div {
            width: 46px;
            height: 46px;
            background-color: $White;
            overflow: hidden;
            box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
                0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
                0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
            transform: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            &:not(:first-child) {
                margin-left: 20px;
            }
            svg {
                path {
                    fill: $ESRPBlue;
                }
            }
        }
    }
}

.progress-wrapper {
    .progress-bar {
        height: 6px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        width: 100%;
        background-color: $OffWhite;
        position: relative;

        .progress {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            height: 100%;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
        }
    }
}

.map-control-wrapper {
    .card-content {
        height: 450px;
        margin-left: 45px;
    }
}

.living-wage-calc-row {
    .analysis-column-card {
        .card-title {
            display: flex;
            flex-wrap: wrap;
        }
        .map-distance-wrapper {
            margin: 0 auto;
        }
        .apexcharts-inner {
            & > .apexcharts-xcrosshairs {
                stroke-dasharray: 6;
                fill: transparent;
            }
        }
        .apexcharts-yaxis-annotations {
            line {
                stroke-width: 2;
            }
        }
    }
}

@media screen and (max-width: $xl) {
    .cowboys-sec {
        .analysis-column-card {
            .card-content {
                height: 440px;
            }
        }
        .map-informer-row {
            margin-top: 20px;
        }
    }
    .market-education-card {
        .card-content {
            margin-top: 30px;
        }
        foreignObject {
            height: 130px;
        }
        .apexcharts-legend {
            min-width: 160px;
            height: 93px;
        }
        svg {
            height: 130px;
            .apexcharts-inner {
                transform: translate(0, 0) scale(1.3);
                -webkit-transform: translate(0, 0) scale(1.3);
                -moz-transform: translate(0, 0) scale(1.3);
                -ms-transform: translate(0, 0) scale(1.3);
                -o-transform: translate(0, 0) scale(1.3);
            }
        }
        .apexcharts-legend {
            .apexcharts-legend-series {
                .apexcharts-legend-text {
                    .custom-legend {
                        padding: 2px 6px;
                    }
                    span:not(.custom-legend) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .market-race-distribution-card {
        foreignObject {
            height: 130px;
        }
        .apexcharts-legend {
            min-width: 160px;
            height: 135px;
        }
        svg {
            height: 130px;
            .apexcharts-inner {
                transform: translate(0, 0) scale(1.3);
                -webkit-transform: translate(0, 0) scale(1.3);
                -moz-transform: translate(0, 0) scale(1.3);
                -ms-transform: translate(0, 0) scale(1.3);
                -o-transform: translate(0, 0) scale(1.3);
            }
        }
        .apexcharts-legend {
            .apexcharts-legend-series {
                .apexcharts-legend-text {
                    .custom-legend {
                        padding: 2px 6px;
                    }
                    span:not(.custom-legend) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .growth-lawyers-card {
        .card-content {
            height: 470px;
        }
        .apexcharts-toolbar {
            top: -39px !important;
        }
    }
}

#{$dark-theme} {
    .cowboys-sec {
        .market-education-card {
            .apexcharts-legend {
                .apexcharts-legend-series {
                    border-color: $BlueishBlack;
                }
            }
        }
        .market-distribution-card {
            svg {
                .apexcharts-inner {
                    .apexcharts-yaxis {
                        text {
                            fill: $White;
                        }
                    }
                    .apexcharts-datalabels {
                        .apexcharts-data-labels {
                            text {
                                fill: $Black;
                            }
                        }
                    }
                }
            }
        }
        .market-race-distribution-card {
            .apexcharts-legend {
                .apexcharts-legend-series {
                    border-color: $BlueishBlack;
                }
            }
        }
        .cowboys-informer-card {
            color: $Black;
        }
        .occupational-overview-card {
            .chart-price {
                color: $White;
            }
            .summary {
                label {
                    color: $White;
                }
            }
            .occupational-overview-progress {
                background-color: $NewDarkprimaryOpacity;
                li {
                    color: $White;
                }
            }
        }
    }
    .market-overview-card {
        li {
            .name,
            .value {
                color: $White;
            }
            &:not(:first-child) {
                border-color: $BlueishBlack;
            }
        }
    }
    .growth-lawyers-card {
        svg {
            .apexcharts-grid {
                rect:not([fill="transparent"]) {
                    fill: #1d3845;
                }
            }
        }
        .apexcharts-toolbar {
            & > div {
                background-color: $NewDarkprimary;
                box-shadow: none;
            }
        }
        .apexcharts-tooltip,
        .apexcharts-xaxistooltip {
            .apexcharts-tooltip-text-y-value {
                color: $BodyBgDark;
            }
        }
        .apexcharts-xaxistooltip-text {
            color: $White;
        }
        .apexcharts-xaxistooltip {
            &::after,
            &::before {
                border-bottom-color: $BodyBgDark;
            }
        }
        .apexcharts-datalabels {
            .apexcharts-data-labels {
                text {
                    fill: $White;
                    opacity: 0.8;
                }
            }
        }
    }
}
// $BodyBgDark
