.input-item {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        display: block;
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.44px;
        line-height: 24px;
        color: $BlueishBlack;
        // opacity: 0.81;
        position: absolute;
        top: 16px;
        left: 12px;
        pointer-events: none;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
    }
    .select-trigger-wrap,
    textarea,
    input {
        margin: 0;
        width: 100%;
        display: block;
        padding: 22px 10px 10px 10px;
        border: 0;
        height: 56px;
        background-color: $White;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
        border-bottom: 1px solid $ESRPBlue;
        font-size: 16px;
        font-family: "Montserrat";

        &:hover {
            box-shadow: 0 100px 80px rgba(92, 134, 193, 0.07), 0 41.78px 33.4px rgba(92, 134, 193, 0.0503),
                0 22.34px 17.87px rgba(92, 134, 193, 0.0417), 0 12.52px 10.02px rgba(92, 134, 193, 0.035),
                0 6.5px 5.32px rgba(92, 134, 193, 0.0283), 0 2.77px 2.21px rgba(92, 134, 193, 0.0197);
        }
        &:focus {
            border-bottom-width: 2px;
        }
        &.error {
            border-color: $Red;
        }
        &.hasFocus {
            & + label {
                font-size: 12px;
                color: $NewESRPBlue;
                transform: translateY(-15px);
                -webkit-transform: translateY(-15px);
                -moz-transform: translateY(-15px);
                -ms-transform: translateY(-15px);
                -o-transform: translateY(-15px);
            }
        }
    }

    select {
        background-position: 97% 50%;
        background-size: 12px;
        background-repeat: no-repeat;
    }

    .custom-select {
        position: relative;
        min-width: 250px;
        cursor: pointer;
        & > label {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: calc(100% - 50px);
        }
        .select-trigger-wrap {
            padding-right: 30px;
            .select-trigger {
                pointer-events: none;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            & > svg {
                position: absolute;
                top: 23px;
                right: 15px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transition: $transition;
                -webkit-transition: $transition;
                -moz-transition: $transition;
                -ms-transition: $transition;
                -o-transition: $transition;
            }
        }
        &.show {
            .select-trigger-wrap {
                border-bottom-width: 2px;
            }
            svg {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }
        }
        &.hasSelectIcon {
            .select-trigger-wrap {
                padding-left: 50px;
                position: relative;
                .select-icon {
                    position: absolute;
                    top: 16px;
                    left: 12px;
                }
            }
            & > label {
                left: 50px;
                max-width: calc(100% - 80px);
            }
        }
    }
    .select-items-wrapper {
        z-index: 99;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.15);
        width: 100%;
        &.show {
            max-height: 250px;
            overflow: auto;
            overscroll-behavior: contain;
        }
    }
    .select-items-wrap {
        background-color: $White;
        padding: 8px 0;
        & > li {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.44px;
            color: $BlueishBlack;
            padding: 4px 16px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }
    }
}

// DARK ---------------------------------

#{$dark-theme} {
    .input-item {
        label {
            color: $ESRPBlue;
        }
        .select-items-wrap {
            background-color: $ESRPDarkBG;
            & > li {
                color: $White;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.051);
                }
            }
        }

        .select-trigger-wrap,
        textarea,
        input {
            background-color: $ESRPDarkBG;
            border-color: $ESRPBlue;
            color: $White;
            &:focus {
                border-width: 2px;
            }
            &.hasFocus {
                & + label {
                    color: $ESRPBlue;
                }
            }
        }
    }
}
