@import "../../sass/variables.scss";

.labor-competition-sec {
  .labor-poulation-card,
  .labor-growth-card,
  .labor-year-growth-card {
    .chart-wrapper {
      height: 510px;
    }

    .apexcharts-series {
      path {
        clip-path: inset(0% 0% 0% 0% round 28px);
      }
    }
    .apexcharts-datalabels {
      transform: translate(0px, 4px);
      -webkit-transform: translate(0px, 4px);
      -moz-transform: translate(0px, 4px);
      -ms-transform: translate(0px, 4px);
      -o-transform: translate(0px, 4px);
      text {
        font-size: 20px;
        line-height: 32px;
        font-weight: 600;
        letter-spacing: 0.15px;
      }
    }

    .apexcharts-yaxis {
      text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.44px;
      }
    }
  }
}

#{$dark-theme} {
  .labor-poulation-card,
  .labor-growth-card,
  .labor-year-growth-card {
    .apexcharts-grid {
      & > line {
        opacity: 0;
      }
      line {
        stroke: $BlueishBlack;
      }
    }
  }
}
