@import "../../sass/variables.scss";
.labor-supply-sec {
  padding-top: 22px;

  .title-filter-row {
    align-items: center;
    .custom-select {
      min-width: 270px;
    }
  }
  .analysis-filter-wrapper {
    justify-content: flex-end;
    align-items: center;
  }

  .labor-supply-card {
    svg {
      .apexcharts-series {
        path {
          clip-path: inset(0% 0% 0% 0% round 38px);
        }
      }
      .apexcharts-datalabels {
        text {
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.15px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif !important;
          transform: translateY(3px);
          -webkit-transform: translateY(3px);
          -moz-transform: translateY(3px);
          -ms-transform: translateY(3px);
          -o-transform: translateY(3px);
        }
      }
      .apexcharts-xaxis,
      .apexcharts-yaxis {
        text {
          font-family: "Montserrat", sans-serif !important;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: 0.44px;
        }
      }
    }
  }
}

#{$dark-theme} {
  .labor-supply-sec {
    .labor-supply-card {
      svg {
        .apexcharts-gridlines-horizontal {
          line {
            stroke: $BlueishBlack;
          }
        }
        .apexcharts-datalabels {
          text {
            fill: $BlueishBlack;
            font-weight: 600;
          }
        }
      }
    }
  }
}
