@import "../../sass/variables.scss";

.property-view-sec {
  padding-top: 22px;

  .analysis-filter-wrapper,
  .title-filter-row {
    align-items: center;
  }
  .analysis-filter-wrapper {
    justify-content: flex-end;
    button {
      margin-right: 0;
    }
  }

  .chart-palette-item {
    color: $White;
    span {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.4px;
      text-transform: capitalize;
    }
    &.green {
      @include BlueNeoGradiantLight;
    }
    &.blue {
      @include BlueDarkGradiant;
    }
    &.purple {
      @include PurpleBlueGradiant;
    }
  }
  .average-visitors-palette-wrapper,
  .map-line-chart-wrapper {
    margin-top: 30px;
  }

  .property-box-wrapper {
    .title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 14px;
      h3 {
        font-size: 22px;
        line-height: 36px;
        color: $BlueishBlack;
        font-weight: 600;
      }
      .more-btn {
        margin-left: auto;
      }
    }
  }
  .property-map-box {
    .map-wrapper {
      height: 430px;
      overflow: hidden;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }

  .chart-wrapper {
    height: 430px;
  }

  .average-visitors-palette-wrapper {
    margin-bottom: 40px;
    .visitors-palette-card {
      color: $White;
      &.blue {
        background-color: $ESRPBlue;
      }
      &.green {
        background-color: $ESRPGreen;
      }
    }
  }

  .visitor-live-row,
  .trade-demographics-row,
  .busy-time-chart-row,
  .busy-chart-row,
  .merchandise-trade-row {
    margin-top: 30px;
  }
  .busy-chart-wrapper {
    height: 423px;
    .apexcharts-tooltip-title {
      display: none;
    }
    .apexcharts-series {
      path {
        &:hover {
          filter: unset !important;
          -webkit-filter: unset !important;
          opacity: 0.8;
        }
      }
    }
  }
  .apexcharts-xaxis,
  .apexcharts-yaxis,
  .apexcharts-datalabels {
    text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.44px;
      font-family: "Montserrat" !important;
      fill: $BlueishBlack;
      color: $BlueishBlack;
      opacity: 0.6;
    }
  }
  .apexcharts-datalabels {
    text {
      opacity: 1;
    }
  }

  .visitor-live-row {
    .visitor-live-map {
      height: 516px;
      max-width: calc(100% - 120px);

      .mapboxgl-marker {
        border: none;
        width: 50px;
        height: 50px;
        background-color: #7498ca;
        opacity: 0.8;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-color: #7498ca;
          opacity: 0.5;
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
        }
        &::after {
          transform: scale(2.1);
        }
      }
    }
  }

  .visitor-bar-chart-card {
    .apexcharts-series {
      path {
        clip-path: inset(0% 0% 0% 0% round 50px);
      }
    }
    .apexcharts-datalabels {
      text {
        filter: unset;
        -webkit-filter: unset;
        fill: $White;
        font-size: 10px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
      }
    }
  }

  .busy-time-chart-wrapper {
    height: 220px;
    .apexcharts-tooltip-title {
      display: none;
    }
  }

  .visitor-bar-chart-wrapper {
    height: 550px;
    svg {
      .apexcharts-inner {
        transform: translate(126px, 0);
        -webkit-transform: translate(126px, 0);
        -moz-transform: translate(126px, 0);
        -ms-transform: translate(126px, 0);
        -o-transform: translate(126px, 0);
      }
    }
  }

  .merchandise-trade-card {
    .chart-wrapper {
      height: 563px;
    }
    .apexcharts-tooltip-title {
      display: none;
    }
  }

  .where-visitors-live-card {
    .where-visitors-live-map {
      height: 500px;
      max-width: calc(100% - 120px);
    }

    .mapboxgl-marker {
      border-width: 7px;
      &::before {
        position: absolute;
        content: "";
        width: calc(100% + 7px);
        height: calc(100% + 7px);
        background-color: transparent;
        opacity: 0.5;
        transform: scale(1.2) translate(-42%, -42%);
        -webkit-transform: scale(1.2) translate(-42%, -42%);
        -moz-transform: scale(1.2) translate(-42%, -42%);
        -ms-transform: scale(1.2) translate(-42%, -42%);
        -o-transform: scale(1.2) translate(-42%, -42%);
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        box-shadow: 0 0 0 8px $ESRPBlue;
        left: 50%;
        top: 50%;
      }
      // box-shadow: 0 0 0 8px #5c86c182;
    }
  }
}

#{$dark-theme} {
  .property-view-sec {
    .apexcharts-datalabels {
      text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.44px;
        font-family: "Montserrat" !important;
        fill: $White;
        color: $White;
        opacity: 0.6;
      }
    }
  }
  .visitor-bar-chart-card {
    .apexcharts-datalabels {
      text {
        fill: $Black;
      }
    }
  }

  .where-visitors-live-card {
    .mapboxgl-marker {
      border-width: 7px;
      &::before {
        box-shadow: 0 0 0 8px $ESRPGreen;
      }
    }
  }
}
