@import "../../sass/variables.scss";
.msa-ranking-sec {
  padding-top: 22px;

  .title-filter-row {
    align-items: center;
  }
  .card-title {
    margin-bottom: 26px;
  }

  .analysis-filter-wrapper {
    justify-content: flex-end;
    .location {
      min-width: 390px;
    }
  }

  .circle-chart-item {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    background-color: $SeachbarBG;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    .left-side {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .icon {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .icon-content {
      max-width: calc(100% - 70px);
      margin-left: 12px;
    }
    .circle-chart {
      max-width: calc(100% - 208px);
      margin-left: auto;
      width: 100%;
      .apexcharts-radialbar-track {
        path {
          stroke: $Black;
          stroke-opacity: 0.1;
        }
      }
      label {
        display: block;
      }
    }
    &.one {
      .apexcharts-radial-series {
        path {
          stroke: $ESRPBlue;
        }
      }
    }
    &.two {
      .apexcharts-radial-series {
        path {
          stroke: $Blue;
        }
      }
    }
    &.three {
      .apexcharts-radial-series {
        path {
          stroke: $ESRPGreen;
        }
      }
    }
  }

  .msa-map-inner-row {
    margin-top: 26px;
    .map-wrapper {
      height: 570px;
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
      overflow: hidden;
      & > div {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: $xl) {
  .msa-ranking-sec {
    .circle-chart-item {
      .circle-chart {
        max-width: calc(100% - 200px);
        min-width: unset;
      }
      .icon {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

#{$dark-theme} {
  .msa-ranking-sec {
    .circle-chart-item {
      background-color: $ESRPDarkLightBg;
      .icon {
        svg {
          path {
            stroke: $BlueishBlack;
          }
        }
      }

      .icon-content {
        color: $White;
      }
    }
  }
}
