@import "../../sass/variables.scss";

.labor-analysis-sec {
    padding-top: 22px;

    .title-filter-row {
        align-items: center;
        margin-bottom: 24px;
    }

    .theme-changer-btn {
        .btn-icon {
            min-width: 46px;
            width: 46px;
            height: 46px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            path {
                stroke: $NewESRPBlue;
            }
            &:hover {
                background-color: $NewESRPBlue;
                path {
                    stroke: $White;
                }
            }
        }
    }
    .labor-filter-btns-wrap {
        ul {
            justify-content: flex-end;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            &:not(:first-child) {
                margin-left: 36px;
            }
        }
        .action-btn {
            button {
                // min-width: 270px;
                margin: 0;
            }
        }
    }
    .indicator-text {
        margin-top: 14px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .name {
            white-space: nowrap;
        }
    }

    .labor-market-score-card {
        height: 100%;
        svg {
            .apexcharts-inner {
                transform: translate(0, 80px);
                -webkit-transform: translate(0, 80px);
                -moz-transform: translate(0, 80px);
                -ms-transform: translate(0, 80px);
                -o-transform: translate(0, 80px);
            }
        }
        .apexcharts-legend {
            padding: 0;
            width: 100%;
            left: 0;
            right: unset;
            position: unset !important;
            display: flex !important;
            flex-wrap: wrap !important;
            .apexcharts-legend-series {
                margin: 0 !important;
                position: relative;
                padding: 2px 14px;
                border-radius: 100px !important;
                overflow: hidden;
                margin-right: 20px !important;
                margin-bottom: 10px !important;
            }
            .apexcharts-legend-marker {
                position: absolute;
                left: 0;
                top: 0;
                width: 100% !important;
                height: 100% !important;
            }
            .apexcharts-legend-text {
                color: $White !important;
                letter-spacing: 0.4px;
            }
        }
    }

    .labor-market-score-progress-wrap {
        margin-top: 28px;
        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .name {
                color: $BlueishBlack;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.44px;
                line-height: 24px;
                max-width: 70%;
                display: block;
            }
            .value {
                color: $BlueishBlack;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.44px;
                line-height: 32px;
                opacity: 0.6;
                max-width: 30%;
                display: block;
                margin-left: auto;
            }
            &:not(:first-child) {
                margin-top: 14px;
                padding-top: 10px;
                border-top: 1px solid $OffWhite;
            }
        }
        .progress-wrap {
            width: 100%;
            margin-top: 14px;
            .progress-item {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 18px;
                span {
                    display: block;
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 1.5px;
                    color: $White;
                    padding: 4px;
                    font-weight: 700;
                    text-align: center;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    position: relative;
                    margin-left: -18px;
                    &:nth-child(1) {
                        z-index: 4;
                    }
                    &:nth-child(2) {
                        z-index: 3;
                    }
                    &:nth-child(3) {
                        z-index: 2;
                    }
                    &:nth-child(4) {
                        z-index: 1;
                    }
                }
            }
        }
    }
    .multi-circle-chart-map-wrap {
        max-width: calc(100% - 140px);
        height: 512px;
    }
}

.labor-situational-map-card {
    position: relative;
    height: 100%;

    .card-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .labor-map-distance {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .labor-map-controls {
        max-width: 45px;
    }
    .map-control-wrapper {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;

        .multi-circle-chart-map-wrap {
            width: 100%;
            margin-left: 65px;
            overflow: hidden;
            background-color: $OffWhite;
            border-radius: 24px;
            -webkit-border-radius: 24px;
            -moz-border-radius: 24px;
            -ms-border-radius: 24px;
            -o-border-radius: 24px;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.labor-filter-sidebar {
    position: fixed;
    right: 50px;
    top: 92px;
    // height: calc(100vh - 90px);
    height: auto;
    max-width: 350px;
    width: 100%;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    &.show {
        animation-name: toggle;
        animation-duration: 0.5s;
        animation-direction: alternate;
        opacity: 1;
        visibility: visible;
    }
    .sidebar-inner {
        height: 100%;
        padding: 20px 32px 34px;
        background-color: $White;
        overflow: auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .sidebar-title {
        margin-bottom: 16px;
        h4 {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.44px;
            line-height: 32px;
        }
        span {
            opacity: 0.6;
            color: $BlueishBlack;
        }
    }
    .sidebar-item-btn-close {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 24px;
        span {
            display: inline-block;
            line-height: 31px;
            height: 24px;
            width: 24px;
            text-align: center;
            cursor: pointer;
        }
    }
    .hide-trigger {
        width: 100%;
        margin: 0;
    }
    .sidebar-item-wrapper {
        margin-top: 14px;
        .sidebar-item {
            &:not(:first-child) {
                margin-top: 16px;
                padding-top: 16px;
                border-top: 1px solid $OffWhite;
            }
        }
    }
    .input-item {
        .select-trigger-wrap,
        textarea,
        input {
            border: 1px solid $ESRPBlue;
            border-bottom-width: 2px;
        }
    }
}

#{$dark-theme} {
    .labor-analysis-sec {
        .labor-market-score-progress-wrap {
            li {
                .name,
                .value {
                    color: $White;
                }
                &:not(:first-child) {
                    border-color: $BlueishBlack;
                }
            }
        }
    }

    .labor-filter-sidebar {
        .sidebar-inner {
            background-color: $ESRPDarkBG;
        }
        .sidebar-item-btn-close {
            span {
                path {
                    stroke: $White;
                }
            }
        }
        .sidebar-title {
            h4,
            span {
                color: $White;
            }
        }
        .sidebar-item {
            &:not(:first-child) {
                border-color: $Black;
            }
        }
    }

    div.mapboxgl-popup-content {
        background-color: $BlueishBlack;
        box-shadow: none;
        .title {
            background-color: $ESRPGreen;
        }
    }
    .mapboxgl-popup-anchor-bottom {
        .mapboxgl-popup-tip {
            border-top-color: $BlueishBlack;
        }
    }

    .labor-market-score-card {
        .apexcharts-legend-text {
            color: $Black !important;
        }
    }
}
